@font-face
{
    font-family: Mont-HeavyDEMO;
    src: url("Fontes/Mont-HeavyDEMO.otf");
}

@font-face
{
    font-family: Comfortaa-Regular;
    src: url("Fontes/Comfortaa-Regular.ttf");
}

*
{
    margin: 0px;
}

#Cores
{
    visibility: hidden;
}

html
{
    background-image: url("Fundos/FundoPreto.jpg");
}

.botões
{
    cursor: pointer;
    width: 3%;
    height: 50px;
    padding: 0px;
    border-width: 0.1px;
    border-color: white;
    border-radius: 1px;
    border-style:double;
}

#Cores
{
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 3;
}

#Azul1
{
    background-color: #8FADD3;
    position: absolute;
    top: 0px;
}

#Azul2
{
    background-color: #4C8CA7;
    position: absolute;
    top: 0px;
    left: 3.5%;
}

#Rosa1
{
    background-color: #FFC7B8;
    position: absolute;
    top: 0px;
    left: 7%;
}

#Rosa2
{
    background-color: #BF8DA6;
    position: absolute;
    top: 0px;
    left: 10.5%;
}

#PRETO
{
    background-color: #575757;
    position: absolute;
    top: 0px;
    left: 14%;
    z-index: 3;
}

#Logo
{
    width: 13%;
    height: auto;
    margin-left: 43.5%;
}

#Caixa
{
    background-image: url("Caixas/MCaixaPreta.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin-top: 30px;
}

#Titulo
{
    text-align: center;
    font-family: Mont-HeavyDEMO;
    font-size: 53px;
    padding-top: 15px;
    color: white;
}

.Inputs
{
    border: 0px;
    height: 50px;
    width: 80%;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 5%;
    text-align: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#Enviar
{
    margin-top: 60px;
    height: 50px;
    width: 85%;
    font-size: 35px;
    margin-left: 7.5%;
    background-color: #00ff07;
    border: 0px;
    font-family: Comfortaa-Regular;
    cursor: pointer;
}



@media all and (max-width: 1000px) 
{
     #Logo
    {
        padding-left: 25%;
        margin-left: 0%;
        width: 50%;
    }

    #Caixa
    {
        width: 100%;
    }

    #Titulo
    {
        font-size: 80px;
        margin-left: 4%;
        margin-right: 3.2%;
    }

    .botões
    {
        border-width: 0px;
        -webkit-transition: all 0.35s linear;
        -moz-transition: all 0.35s linear;
        -ms-transition: all 0.35s linear;
        -o-transition: all 0.35s linear;
        transition: all 0.35 linear;
    }

    #Azul1
    {
        width: 135px;
        height: 135px;
        z-index: 3;
    }

    #Azul2
    {
        position: absolute;
        width: 135px;
        height: 135px;
        z-index: 3;
        left: -0.15%;
    }

    #Rosa1
    {
        position: absolute;
        width: 135px;
        height: 135px;
        z-index: 3;
        left: 0%;
        top: 0px;
    }

    #Rosa2
    {
        position: absolute;
        top: 0px;
        width: 135px;
        height: 135px;
        z-index: 3;
        left: 0px;
    }

    #PRETO
    {
        position: absolute;
        top: 0px;
        width: 135px;
        height: 135px;
        z-index: 3;
        left: -14.3%;
    }

    #Cores
    {
        visibility: visible;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 135px;
        height: 135px;
        border: 0px;
        background-image: url("Bolos-Logo/Cores.jpg");
        background-size: 100%;
        background-color: transparent;
        appearance: none;
        z-index: 4;
        -webkit-transition: all 0.35s linear;
        -moz-transition: all 0.35s linear;
        -ms-transition: all 0.35s linear;
        -o-transition: all 0.35s linear;
        transition: all 0.35s linear;
    }


    #Cores:checked ~ #PRETO
    {
        -webkit-transform: translate(101.5%, 138px);
        -moz-transform: translate(101.5%, 138px);
        -ms-transform: translate(101.5%, 138px);
        -o-transform: translate(101.5%, 138px);
        transform: translate(204%, 138px);
    }

    #Cores:checked ~ #Azul2
    {
        -webkit-transform: translate(102%, 0px);
        -moz-transform: translate(102%, 0px);
        -ms-transform: translate(102%, 0px);
        -o-transform: translate(102%, 0px);
        transform: translate(102%, 0px);
    }

    #Cores:checked ~ #Rosa1
    {
        -webkit-transform: translate(0%, 138px);
        -moz-transform: translate(0%, 138px);
        -ms-transform: translate(0%, 138px);
        -o-transform: translate(0%, 138px);
        transform: translate(204%, 0px);
    }

    #Cores:checked ~ #Rosa2
    {
        -webkit-transform: translate(0%, 138px);
        -moz-transform: translate(0%, 138px);
        -ms-transform: translate(0%, 138px);
        -o-transform: translate(0%, 138px);
        transform: translate(0%, 138px);
    }
    #Cores:checked
    {
        -webkit-transform: translate(204%, 138px);
        -moz-transform: translate(204%, 138px);
        -ms-transform: translate(204%, 138px);
        -o-transform: translate(204%, 138px);
        transform: translate(204%, 138px) rotate(90deg);
    }

    .Inputs
    {
        text-align: center;
        height: 100px;
        width: 85%;
        font-size: 70px;
        margin-left: 7.5%;
        margin-top: 80px;
        border-radius: 25px
    }

    #Enviar
    {
        margin-top: 90px;
        height: 100px;
        width: 90%;
        font-size: 70px;
        margin-left: 5%;
        margin-bottom: 40px;
    }
}